*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html {
  line-height: 1.4;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background: var(--color-background);
}

:root {
  --font-sans: 'Source Sans 3', sans-serif;
  --font-serif: 'Source Serif 4', serif;

  --hue-theme: 210;

  --hue-interactive: var(--hue-theme);
  --hue-success: var(--hue-theme);
  --hue-invalid: 0;

  --color-text: hsl(var(--hue-theme), 100%, 10%);
  --color-text-muted: hsl(var(--hue-theme), 20%, 40%);

  --color-background: hsl(var(--hue-theme), 20%, 99%);
  --color-background-secondary: hsl(var(--hue-theme), 20%, 90%);
  --color-background-tertiary: hsl(var(--hue-theme), 20%, 98%);

  --color-interactive: hsl(var(--hue-interactive), 100%, 40%);
  --color-interactive-secondary: hsl(var(--hue-interactive), 50%, 70%);

  --color-success: hsl(var(--hue-theme), 71%, 48%);

  --color-invalid: hsl(0, 100%, 50%);

  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);

  --fluid-sizing-xxl: clamp(2rem, calc(1rem + 5vw), 5rem);

  --fluid-sizing-xl: clamp(1.5rem, calc(1rem + 2vw), 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: var(--font-serif);
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: var(--fluid-sizing-xxl);
}

a {
  color: var(--color-interactive);
}
